*.orig
*.~
*.user
*.user*
*.o
*.a

*.szi
*.moc
ui_*
*.autosave
moc_*.cpp
qrc_*.cpp
src/DebugBuild/*
src/ReleaseBuild/*
src/RiverLibs/build-*
src/RiverLibs/lib
src/RiverLibs/include/*
lib/
Printer/Printer
Printer/PrinterABI
Server/Server
Client/Client
Gui/Gui
*Makefile
lib/
